body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Login_Background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
    
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.login-container input:hover {
    background-color: #f1f1f1;
}

.login-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 1s;
}

.login-container button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.google-signup-btn {
    margin-top: 10px;
}

.google-signup-btn button {
    background-color: #db4437;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

